@model Project3.ModelsView.EstimateModelView
@{
    ViewData["Title"] = "Estimation";
    Layout = "~/Views/LayoutUser/LayoutUser.cshtml";
}
<div class="container mt-4">
    <h1 class="text-center mb-4">Estimation</h1>
    <form asp-action="Create" method="post">
        <div class="row">
            <!-- Left Column for Inputs -->
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="CustomerId" class="control-label"></label>
                    <input asp-for="CustomerId" class="form-control" readonly />
                    <span asp-validation-for="CustomerId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CustomerName" class="control-label"></label>
                    <input asp-for="CustomerName" class="form-control" readonly />
                    <span asp-validation-for="CustomerName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CustomerPhoneNumber" class="control-label"></label>
                    <input asp-for="CustomerPhoneNumber" class="form-control" readonly />
                    <span asp-validation-for="CustomerPhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="VehicleId" class="control-label"></label>
                    <input asp-for="VehicleId" class="form-control" readonly />
                    <span asp-validation-for="VehicleId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="VehicleRate" class="control-label"></label>
                    <input asp-for="VehicleRate" class="form-control" readonly />
                    <span asp-validation-for="VehicleRate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="VehicleName" class="control-label"></label>
                    <input asp-for="VehicleName" class="form-control" readonly />
                    <span asp-validation-for="VehicleName" class="text-danger"></span>
                </div>
            </div>

            <!-- Right Column for Inputs -->
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="VehicleModel" class="control-label"></label>
                    <input asp-for="VehicleModel" class="form-control" readonly />
                    <span asp-validation-for="VehicleModel" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="VehicleVersion" class="control-label"></label>
                    <input asp-for="VehicleVersion" class="form-control" readonly />
                    <span asp-validation-for="VehicleVersion" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="WarrantyId" class="control-label"></label>
                    <input asp-for="WarrantyId" class="form-control" readonly />
                    <span asp-validation-for="WarrantyId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PolicyTypeId" class="control-label"></label>
                    <input asp-for="PolicyTypeId" class="form-control" readonly />
                    <span asp-validation-for="PolicyTypeId" class="text-danger"></span>
                </div>

                <div class="form-group text-center">
                    <input type="submit" value="Create" class="btn btn-primary" />
                    <a asp-controller="VehicleInformations" asp-action="CarSelection" class="btn btn-default">Back to Car Selection</a>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
