@model Project3.Models.CompanyBillingPolicy

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/System/Views/Layout/LayoutAdmin.cshtml";
}

<h1>Edit</h1>

<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Hi, welcome !</h4>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Edit Company Billing Policy</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <form asp-action="Edit">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="Id" />
                                <div class="form-group">
                                    <label asp-for="CustomerId" class="control-label"></label>
                                    <select asp-for="CustomerId" class="form-control" asp-items="ViewBag.CustomerId"></select>
                                    <span asp-validation-for="CustomerId" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="CustomerName" class="control-label"></label>
                                    <input asp-for="CustomerName" class="form-control" />
                                    <span asp-validation-for="CustomerName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="PolicyNumber" class="control-label"></label>
                                    <input asp-for="PolicyNumber" class="form-control" />
                                    <span asp-validation-for="PolicyNumber" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="CustomerAddProve" class="control-label"></label>
                                    <input asp-for="CustomerAddProve" class="form-control" />
                                    <span asp-validation-for="CustomerAddProve" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="CustomerPhoneNumber" class="control-label"></label>
                                    <input asp-for="CustomerPhoneNumber" class="form-control" />
                                    <span asp-validation-for="CustomerPhoneNumber" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="BillNo" class="control-label"></label>
                                    <input asp-for="BillNo" class="form-control" />
                                    <span asp-validation-for="BillNo" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="VehicleName" class="control-label"></label>
                                    <input asp-for="VehicleName" class="form-control" />
                                    <span asp-validation-for="VehicleName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="VehicleModel" class="control-label"></label>
                                    <input asp-for="VehicleModel" class="form-control" />
                                    <span asp-validation-for="VehicleModel" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="VehicleRate" class="control-label"></label>
                                    <input asp-for="VehicleRate" class="form-control" />
                                    <span asp-validation-for="VehicleRate" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="VehicleBodyNumber" class="control-label"></label>
                                    <input asp-for="VehicleBodyNumber" class="form-control" />
                                    <span asp-validation-for="VehicleBodyNumber" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="VehicleEngineNumber" class="control-label"></label>
                                    <input asp-for="VehicleEngineNumber" class="form-control" />
                                    <span asp-validation-for="VehicleEngineNumber" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Date" class="control-label"></label>
                                    <input asp-for="Date" class="form-control" />
                                    <span asp-validation-for="Date" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Amount" class="control-label"></label>
                                    <input asp-for="Amount" class="form-control" />
                                    <span asp-validation-for="Amount" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="PaymentStatus" class="control-label"></label>
                                    <input asp-for="PaymentStatus" class="form-control" />
                                    <span asp-validation-for="PaymentStatus" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Save" class="btn btn-primary" />
                                    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
