@model Project3.Models.VehicleWarranty

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/System/Views/Layout/LayoutAdmin.cshtml";
}

<h1>Create</h1>

<h4>VehicleWarranty</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="WarrantyId" class="control-label"></label>
                <input asp-for="WarrantyId" class="form-control" />
                <span asp-validation-for="WarrantyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WarrantyType" class="control-label"></label>
                <input asp-for="WarrantyType" class="form-control" />
                <span asp-validation-for="WarrantyType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WarrantyDuration" class="control-label"></label>
                <input asp-for="WarrantyDuration" class="form-control" />
                <span asp-validation-for="WarrantyDuration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WarrantyDetails" class="control-label"></label>
                <input asp-for="WarrantyDetails" class="form-control" />
                <span asp-validation-for="WarrantyDetails" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
