@model Project3.Models.ClaimDetail

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/LayoutUser/LayoutUser.cshtml";
}

<h1>Edit</h1>

<h4>ClaimDetail</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ClaimNumber" class="control-label"></label>
                <input asp-for="ClaimNumber" class="form-control" />
                <span asp-validation-for="ClaimNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PolicyNumber" class="control-label"></label>
                <input asp-for="PolicyNumber" class="form-control" />
                <span asp-validation-for="PolicyNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PolicyStartDate" class="control-label"></label>
                <input asp-for="PolicyStartDate" class="form-control" />
                <span asp-validation-for="PolicyStartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PolicyEndDate" class="control-label"></label>
                <input asp-for="PolicyEndDate" class="form-control" />
                <span asp-validation-for="PolicyEndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerName" class="control-label"></label>
                <input asp-for="CustomerName" class="form-control" />
                <span asp-validation-for="CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlaceOfAccident" class="control-label"></label>
                <input asp-for="PlaceOfAccident" class="form-control" />
                <span asp-validation-for="PlaceOfAccident" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfAccident" class="control-label"></label>
                <input asp-for="DateOfAccident" class="form-control" />
                <span asp-validation-for="DateOfAccident" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InsuredAmount" class="control-label"></label>
                <input asp-for="InsuredAmount" class="form-control" />
                <span asp-validation-for="InsuredAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClaimableAmount" class="control-label"></label>
                <input asp-for="ClaimableAmount" class="form-control" />
                <span asp-validation-for="ClaimableAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

