@model Project3.Models.VehiclePolicyType

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/System/Views/Layout/LayoutAdmin.cshtml";
}

<h1>Edit</h1>

<h4>VehiclePolicyType</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PolicyTypeId" />
            <div class="form-group">
                <label asp-for="PolicyName" class="control-label"></label>
                <input asp-for="PolicyName" class="form-control" />
                <span asp-validation-for="PolicyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PolicyDetails" class="control-label"></label>
                <input asp-for="PolicyDetails" class="form-control" />
                <span asp-validation-for="PolicyDetails" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
