@using Project3.ModelsView
@model CompanyBillingPolicyViewModel

@{
    ViewData["Title"] = "Create Billing Policy";
    Layout = "~/Views/LayoutUser/LayoutUser.cshtml";
}

<div class="container mt-4">
    <h1 class="text-center mb-4">Estimation</h1>
    <form asp-action="Create" method="post">
        <div class="row">
            <!-- Left Column for Inputs -->
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="CustomerId"></label>
                    <input asp-for="CustomerId" class="form-control" readonly />
                </div>
                <div class="form-group">
                    <label asp-for="CustomerName"></label>
                    <input asp-for="CustomerName" class="form-control" readonly />
                </div>
                <div class="form-group">
                    <label asp-for="CustomerPhoneNumber"></label>
                    <input asp-for="CustomerPhoneNumber" class="form-control" readonly />
                </div>
                <div class="form-group">
                    <label asp-for="CustomerAddProve"></label>
                    <input asp-for="CustomerAddProve" class="form-control" readonly />
                </div>
                <div class="form-group">
                    <label asp-for="PolicyNumber"></label>
                    <input asp-for="PolicyNumber" class="form-control" readonly />
                </div>
            </div>
        <!-- Right Column for Text Inputs -->
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="VehicleName"></label>
                    <input asp-for="VehicleName" class="form-control" readonly />
                </div>
                <div class="form-group">
                    <label asp-for="VehicleModel"></label>
                    <input asp-for="VehicleModel" class="form-control" readonly />
                </div>
                <div class="form-group">
                    <label asp-for="VehicleRate"></label>
                    <input asp-for="VehicleRate" class="form-control" readonly />
                </div>
                <div class="form-group">
                    <label asp-for="VehicleBodyNumber"></label>
                    <input asp-for="VehicleBodyNumber" class="form-control" readonly />
                </div>
                <div class="form-group">
                    <label asp-for="VehicleEngineNumber"></label>
                    <input asp-for="VehicleEngineNumber" class="form-control" readonly />
                </div>

                <div class="form-group">
                    <label asp-for="Date"></label>
                    <input asp-for="Date" class="form-control" readonly />
                </div>
                <div class="form-group">
                    <label asp-for="Amount"></label>
                    <input asp-for="Amount" class="form-control" readonly />
                </div>
                <button type="submit" class="btn btn-primary">Proceed To Payment</button>
                <a asp-controller="InsuranceProcess" asp-action="Create" class="btn btn-default">Back</a>
            </div>
        </div>
    </form>
</div>
