@* @model Project3.Models.VehicleInformation

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/LayoutUser/LayoutUser.cshtml";
}

<h1>Edit</h1>

<h4>VehicleInformation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="VehicleName" class="control-label"></label>
                <input asp-for="VehicleName" class="form-control" />
                <span asp-validation-for="VehicleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VehicleOwnerName" class="control-label"></label>
                <input asp-for="VehicleOwnerName" class="form-control" />
                <span asp-validation-for="VehicleOwnerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VehicleModel" class="control-label"></label>
                <input asp-for="VehicleModel" class="form-control" />
                <span asp-validation-for="VehicleModel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VehicleVersion" class="control-label"></label>
                <input asp-for="VehicleVersion" class="form-control" />
                <span asp-validation-for="VehicleVersion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VehicleRate" class="control-label"></label>
                <input asp-for="VehicleRate" class="form-control" />
                <span asp-validation-for="VehicleRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VehicleBodyNumber" class="control-label"></label>
                <input asp-for="VehicleBodyNumber" class="form-control" />
                <span asp-validation-for="VehicleBodyNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VehicleEngineNumber" class="control-label"></label>
                <input asp-for="VehicleEngineNumber" class="form-control" />
                <span asp-validation-for="VehicleEngineNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VehicleNumber" class="control-label"></label>
                <input asp-for="VehicleNumber" class="form-control" />
                <span asp-validation-for="VehicleNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
 *@